@model LocationModel
@using Microsoft.AspNetCore.Http;
@{
    ViewBag.Ref = "location";
    ViewBag.Title = "模板";
    var session = ViewContext.HttpContext.Session;
    var userKind = session.GetString("UserKind");
}


<body onload="getloc()">
    <input id="aaa" />
    <button onclick="get()">查看蛇类信息</button>
    <div id=" location_body">

        <div id="divMap"></div>
        <div id="jk">
            <div id="abcd"></div>
        </div>
        @if (userKind == "专家")
        {
            <form action="/Location/Correct" method="post">
                <input name="province" type="hidden" id="pro">
                <button type="submit">我要纠错</button>
            </form>
        }
    </div>
    <script src="//api.map.baidu.com/api?v=2.0&ak=m0hhfYxquB1A96jf3mZS4GE36kC7Kcat"></script>

</body>